
.design{
    background-color: #f8f8f8e1;
}
.design .wrapper-description{
    padding: 140px;
}
.design .description p:not(.red-letter){
    margin-top: 30px;
}
.design .img{
    position: relative;
    overflow: hidden;
}
.design .img .triangle{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-left: 700px solid transparent;	
    border-bottom: 600px solid #ff6d6d;
    opacity: .5;
    transition: all .3s;
}
.design .img:hover .triangle{
    border-left: 0px solid transparent;	
    border-bottom: 1620px solid #ff6d6d;
    opacity: 0;
}
.design .img img{
    width: 100%;
    display: block;
}

