.features{
    background-color: #f6f5f3ad;
    padding: 130px 0;
}
.features{
    position: relative;
}
.features>.container>img{
    position: absolute;
    display: block;
    z-index: 1;
}
.features>.container>img:first-of-type{
    top: -50px;
    left: 150px;
}
.features>.container>img:nth-of-type(2){
    top: 0;
    right: 100px;
}
.features>.container>img:last-of-type{
    bottom: -90px;
    right: 30%;
}
.features h3{
    margin-bottom: 70px;
}
.features-item{
    padding: 20px;
}
.features-item:hover{
    box-shadow: 0 0 5px 5px rgba(211, 211, 211, 0.39);
}
.features-item img{
    width: 70px;
    height: 70px;
}
.features-item h4{
    font-size: 22px;
    color: #282828;
    margin-top: 30px;
}
.features-item p{
    margin-top: 30px;
    text-align: center;
    line-height: 25px;
    font-weight: 500;
    flex-grow: 1;
}