@import url('https://fonts.googleapis.com/css?family=Exo:100,500');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,p {
    font-family: 'Exo', sans-serif;
    font-style: initial;
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
 .container {
    max-width: 1140px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.col-12 {
    width: 100%;
}
.col-10{
    width: 83.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-7{
    width: 58.3333%;
}
.col-6 {
    width: 50%;
}
.col-5{
    width: 41.6666%;
}
.col-4 {
    width: 33.3333%;
}
.col-3 {
    width: 25%;
} 
.col-2 {
    width: 16.666%;
}
.col-1{
    margin-left: 8.3333%;
}
.offset-1{
    margin-left: 8.3333%;
}
.offset-2{
    margin-left: 16.666%;
}
.offset-3{
    margin-left: 25%;
}
.offset-6{
    margin-left: 50%;
}
.d-flex {
    display: flex;
}
.d-none{
    display: none;
}
.content-center {
    justify-content: center;
}
.content-between {
    justify-content: space-between;
}
.content-around{
    justify-content: space-around;
}
.content-start{
    justify-content: flex-start;
}
.content-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.flex-column {
    flex-direction: column;
}
.grow-1 {
    flex-grow: 1;
} 
.btn {
    font-family: 'Exo Regular', sans-serif;
    background-color: #ff6d6d;
    padding: 15px 45px;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    border: solid 1px #ff6d6d;
    border-radius: 3px;
    transition: all .5s;
}
.btn:hover{
    color: #ff6d6d;
    background-color: transparent;
}
.no-scroll{
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}
.red-letter{
    color: #ff6d6d;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}
h3.title{
    font-family: 'Exo', sans-serif;
    color: #282828;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
}

@media screen and (max-width: 640px) {
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-4 {
        width: 33.3333%;
    }
    section {
        padding: 60px 0;
    }
    .offset-sm-0{
        margin-left: 0;
    }
    
}
@media screen and (max-width: 480px) {
    .col-xs-12 {
        width: 100% !important;
    }
    .col-xs-6 {
        width: 50% !important;
    }
    .offset-xs-0{
        margin-left: 0;
    }
}