.partners{
    background-image: url('../img/partn-bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 90px 0;
}
.partners .item{
    color: white;
    padding: 20px;
}
.partners .item img{
    width: 76px;
}
.partners .item .name{
    font-size: 22px;
    margin-top: 10px;
}
.partners .item .job{
    color: #ff6d6d;
}
.partners .item .desc{
    font-style: italic;
    font-weight: 100;
    margin-top: 20px;
    flex-grow: 1;
}
.partners-logo{
    
}
.partners-logo img{
    width: 80px;
    display: block;
    align-self: center;
}
