<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/general.css">
    <link rel="stylesheet" href="style/header.css">

</head>
<body>
    <header>
        <video autoplay loop preload="auto">
            <source src="img/vid.mp4" type="video/mp4" >
        </video>
        <div class="header-title">
            <p>There is no other platforms for you as like </p>
            <a href="#" class="btn">try now</a>
        </div>
    </header>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, est dolores minus, ratione officia ab molestiae error dolor aspernatur facere dolorem asperiores earum eligendi fuga quos magni repellat expedita! Perspiciatis.</p>

    <main>

    </main>

    <footer>

    </footer>
</body>
</html>